

body {
    display: block;
    margin: 8px;
    font-family: "Arial";
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #eeeeee;
}
button{
    background-color: blue;
padding: 5px 20px;
font-family: "Arial";
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}
a{
    margin: 8px;
    font-family: "Arial";
    font-size: 14px;
    color:chocolate;
}